/** Global **/
button {
  height: 34px;
  border: none;
  border-radius: 4px;

  background: var(--primary);

  color: var(--gray);
  cursor: pointer;
}
.edit-bttn {
  color: var(--editColor);
}
.delete-bttn {
  color: var(--deleteColor);
}

/*? Laptop screen ?*/
@media (min-width: 769px) {
  button {
    height: 50px;
  }
}

/** Login **/
.login form button {
  width: calc(100% - 50px);
  margin-bottom: 45px;

  font-size: var(--text-small);
}
/*? Laptop screen ?*/
@media (min-width: 769px) {
  .login form button {
    width: calc(100% - 96px);
    margin: 0px;

    font-size: var(--text);
  }
}

/** Layout **/
.sidebar-open-close {
  width: 38px;
  height: 38px;
  position: absolute;
  top: 0px;

  background-color: transparent;

  font-size: var(--text);
  color: var(--primary);
}
.button-sidebar {
  width: 100%;

  background-color: transparent;

  font-size: var(--text-small);
  color: var(--primary);
}
.sider-navigation .button-sidebar:first-child {
  margin-bottom: 68px;
}
/*? Laptop screen ?*/
@media (min-width: 769px) {
  .button-sidebar {
    font-size: var(--text);
    color: var(--primary);
  }
}

/** Headers **/
.header-mobile button {
  min-width: 32px;
  min-height: 32px;

  font-size: var(--title-small);
}
.header-mobile button:first-child {
  background-color: transparent;

  color: var(--primary);
}
.header-desktop button {
  height: 100%;

  font-size: var(--subtitle);
  color: var(--gray);
}
.header-desktop button:first-child {
  aspect-ratio: 1/1;

  background: transparent;
}
.header-desktop button:last-child {
  width: 49px;
  margin-left: 12px;
}

/** Enterprise Info **/
.header-title button {
  width: 36px;
  height: 36px;
  background: none;

  font-size: 16px;
}
.enteprise-contract-container button {
  width: calc(height);
  height: 100%;

  background: none;

  font-size: 18px;
  color: var(--primary);
}
/*? Laptop screen ?*/
@media (min-width: 769px) {
  .header-title button {
    font-size: 18px;
  }
  .enteprise-contract-container button {
    font-size: 24px;
  }
}
