.card-mobile,
.card-enterprise {
  border: none;
  background: var(--gray);
}
.card-mobile,
.card-labels {
  overflow: hidden;
}
.card-mobile {
  height: 62px;
  margin-bottom: 22px;
}
.card-mobile img,
.card-enterprise img {
  aspect-ratio: 1/1;
  object-fit: contain;
}
.card-mobile img {
  height: 100%;
}
.card-labels {
  margin: 0px;

  white-space: nowrap;
  text-overflow: ellipsis;
}

.card-enterprise {
  width: 214px;
}
.card-enterprise img {
  width: 100%;
}
