.section-logo-name {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    aspect-ratio: 1/1;
    width: 164px;
  }

  div {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      margin: 0px;
    }
  }
}

.info-cards {
  .info-cards-container {
    margin: 16px 0px 0px;

    p {
      margin: 0px 0px 6px;

      color: var(--primary);
    }

    .card {
      background-color: transparent;
      border-color: var(--primary);

      font-size: 16px;

      .ant-card-body {
        padding: 12px;
      }
    }
  }
}

.button-contracts {
  width: 100%;
  margin: 42px 0px 0px;
  border: none;
  background: var(--primary);
  color: var(--gray);
}

/** Laptop screen **/
@media (min-width: 769px) {
  .section-logo-name {
    flex-direction: row;
    justify-content: space-between;

    div {
      align-items: end;

      h2:first-child {
        margin-bottom: 24px;
      }
    }
  }
}
